body {
    background-color: black;    
}


.spacer {
    flex: 1;
}

h2,
h3,
h4,
h5,
h6 {
    margin-left: 10px;
    color: white;
}


    
.center {
    white-space: nowrap;
    text-align:center;
    padding-top:100px;
}
img {
    display: inline-block;
    margin: 5px 20px;
    padding: 5px;
  
}
/*Footer CSS */


.icons {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: white;
    color: black;
    margin:5px 5px;
    padding:0px;
}