body {
    background-color: black;
}

h2,
h3,
h4,
h5,
h6 {
    margin-left: 10px;
    color: white;
}

a,
a:visited {
    color: white;
    text-decoration: none;
}

    a:hover {
        color: black;
    }

.spacer {
    flex: 1;
}

.content {
    height: 60px;
    margin: 8px;
    display: flex;
    color: white;
    font-weight: 600;
}
